.logo{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid gold;
    box-shadow:0 0 20px gold;
    margin-bottom: 20px;
    transition: 0.3s ease;
}
.logo:hover{
    transform:scale(1.1) rotate(5deg);
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}        

body{
   
    color:#fff;
    overflow-x:hidden;

    background:linear-gradient(
        -45deg,
        #1e3c72,
        #2a5298,
        #0f2027,
        #0b8457,
        #14532d,
        #3b82f6
    ) ;
    background-size: 400% 400%;

    animation: gradientBG 15s ease infinite;
}

header{
    text-align:center;
    padding:60px 20px;

}

header h1{
    font-size:55px;
    animation:fadeDown 1.2s ease;

}

header p{
    margin-top:15px;
    font-size:20px;
    color:#7bff00;
    animation:fadeUp 1.5s ease;

}

.btn{
    display:inline-block;
    margin-top: 25px;
    padding:14px 30px;
    background:#94a820;
    color:#24881b;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
    transition:.3s;

}

.btn:hover{
    transform:scale(1.08);
    background: #ffd700;

}

.ball{
    font-size: 80px;
    text-align: center;
    animation: bounce 2s infinite;
}

section{
    padding: 60px 20px;

}

.cards{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card{
    width:280px;
    background:rgb(36, 143, 145);
    backdrop-filter:blur(6px);
    border-radius: 18px;
    padding:25px;
    transition:.4s ease;


}
.card:hover{
    transform:translateY(-10px) scale(1.05);
    background: rgba(48, 78, 209, 0.888);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);

}
.card h2{
    margin-bottom:12px;
    font-size: 21px;
}

footer{
    text-align: center;
    padding:25px;
    background: #3e7251;

}

a {
    text-decoration: none;
    color: rgb(45, 203, 239);
}
body{
    text-align: center;
}
 .match-card{
    background:linear-gradient(
        #00ff99,
        #14532d,
        #1e3c72,
        #2d1730
    );
    backdrop-filter: blur(10px);
    border: 1px solid #071c54;
    border-radius: 15px;
    padding: 20px;
    margin: 25px auto;
    width: 90%;
    max-width: 900px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
 }

 .match-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
 }

 .football{
    position:fixed;
    font-size: 45px;
    opacity: .15;
    z-index: -1;
    animation:float 18s linear infinite;
 }

 .football1{
    left: 10%;
 }
    .football2{
        left: 50%;
        animation-delay: 6s;
    }

    .football3{
        left: 80%;
        animation-delay: 12s;
    }

    .teams{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        margin-top: 15px;
    }
    .team{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .team h2{
        margin: 0;
        font-size: 28px;
    }
    .flag{
        width: 50px;
        height: 35px;
        object-fit: contain;
        border-radius: 5px;
    }
    .score{
        font-size: 30px;
        font-weight: bold;
        color: #ffd700;
    }

    .player-card{
        background: linear-gradient(
            135deg,
            rgba(36, 143, 145, 0.75),
            rgba(123, 209, 48, 0.888),
            rgba(21, 88, 117, 0.75)
        );
        backdrop-filter: blur(10px);
        border: 1px solid #071c54;
        border-radius: 15px;
        padding: 20px;
        margin: 25px auto;
        width: 90%;
        max-width: 600px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
.player-card p{
    font-size: 20px;
    color: #000000ec;
    animation: gradientBG 15s ease infinite;
    background:linear-gradient(
        -45deg,
        #1e3c72,
        #982a2a,
        #1d536a,
        #14532d,
        #1b9b93
    ) ;
}
    .player-card:hover{
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    .player-card img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        
    }

    .player-card h2{
        margin-bottom: 12px;
        font-size: 24px;
        background:linear-gradient(
            90deg,
            #ff0000,
            #ff7f00,
            #180c36,
            #0f1e0f,
            #0000ff,
            #4b0082,
            #391951
        );
          background-size: 400% 400%;

    animation: gradientBG 15s ease infinite;
 }
 .player-image{
    width: 120px;
    height: 120Px;
    object-fit: cover;
    border-radius: 50%;
 }
 .player-name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
 }
 .player-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .flag{
    width: 35px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
 }
 .jersey{
    background-color: #ffd700;
    color: #000;
    padding: 6px 12px;
    border-radius: 20px;
    font-weight: bold;
 }

  

 .player-info{
    margin-top: 20px;
 }
 .player-info p{
    margin: 8px 0;
    font-size: 20px;
    color:
     #00acbcec;

 }

@keyframes float{
    from{
        top: 110%;
        transform: rotate(0deg);
    }
    to{
        top: -20%;
        transform: rotate(360deg);
    }
}

@keyframes bounce{
    0%,100%{
        transform: translateY(0);

    }
    50%{
        transform:translateY(-20px);

    }
}

@keyframes fadeDown{
    from{
        opacity: 0;
        transform:translateY(-40px);
        }
    to{
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes gradientBG{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
